<footer class="footer-admin mt-auto footer-light">
    <div class="container-xl px-7">
        <div class="row">
            <div class="col-md-6 small">&copy; <%= pathSite.nom_site %> SHOP by <a href= "https://discord.com/users/916444775861850175" target="_blank">owen</a> & <a href= "https://discord.com/users/219593025817411585" target="_blank">zulu</a></div>
            <div class="col-md-6 text-md-end small">Nous ne sommes pas approuvés, affiliés ou offerts par Discord.</div>
        </div>
    </div>
</footer>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="<%= pathSite.js_chemin %>scripts.js"></script>
<script src="<%= pathSite.js_chemin %>toasts.js"></script>
<script src="<%= pathSite.js_chemin %>accounts.js"></script>
<script src="<%= pathSite.js_chemin %>ebooks.js"></script>
<script src="<%= pathSite.js_chemin %>logs.js"></script>
<script src="<%= pathSite.js_chemin %>divers.js"></script>