<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="<%= pathSite.css_chemin %>style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="<%= pathSite.image_chemin %>favicon.png" />
    <script data-search-pseudo-elements defer
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="nav-fixed">

    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-#36393e"
        id="sidenavAccordion">    
        <!-- Navbar Brand-->
        <a class="navbar-brand text-center" href="/home">
    <img src="<%= pathSite.image_chemin %>tool-labs/tool-labs.png" style="height: 3rem">
    <span style="margin-left: 10px;">Shop C.T.F </span>
</a>


             <!-- Sidenav Toggle Button-->
            <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i
                data-feather="menu"></i></button>

        <!-- Navbar Items-->
        <ul class="navbar-nav align-items-center ms-auto">
            <!-- Navbar Search Dropdown-->
            <li class="nav-item dropdown no-caret me-3 d-lg-none">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        data-feather="search"></i></a>
                <!-- Dropdown - Search-->
                <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline me-auto w-100">
                        <div class="input-group input-group-joined input-group-solid">
                            <input class="form-control pe-0" type="text" placeholder="Search for..." aria-label="Search"
                                aria-describedby="basic-addon2" />
                            <div class="input-group-text"><i data-feather="search"></i></div>
                        </div>
                    </form>
                </div>
            </li>
            <span class="ma-classe"><i class="fa fa-question-circle" aria-hidden="true"></i></span>


            <!-- User Dropdown-->
            <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage"
                    href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        <img class="img-fluid"
                            src="https://cdn.discordapp.com/avatars/<%= member.id %>/<%= member.user.avatar %>.webp?size=160" />
                </a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
                    aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img"
                            src="https://cdn.discordapp.com/avatars/<%= member.id %>/<%= member.user.avatar %>.webp?size=160" />
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name"> <%= member.displayName %></div>
                            <div class="dropdown-user-details-email">id : <%= member.id %></div>
                            <div class="dropdown-user-details-email">Solde : <%= memberConfig.shop.amount %> pièces</div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
<a class="dropdown-item" href="/logout">
    <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
    <span style="color: red;">Déconnexion</span>
</a>
</div>

            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sidenav shadow-right sidenav-light">
                <div class="sidenav-menu">
                    <div class="nav accordion" id="accordionSidenav">
  <!-- Sidenav Menu Heading (Member)-->
                        <div class="sidenav-menu-heading">&#x1F464; Information Membre</div>
                        <a class="nav-link" href="#">
                            <div class="nav-link-icon"><i class="fa fa-user-circle"></i></div>
                                Connecté :  <%= member.displayName %>
                                  
                        </a>
                        <a class="nav-link" href="#">
                            <div class="nav-link-icon"><i data-feather="dollar-sign"></i></div>
                                Solde : <%= memberConfig.shop.amount %> pièces
                                  
                        </a>
                        <br>
                        
                        <!-- Sidenav Menu Heading (Community)-->
                        <div class="sidenav-menu-heading">&#x1F310; Communauté</div>

                        <a class="nav-link collapsed" href="/home">
                            <div class="nav-link-icon"><i class="fa fa-home"></i></div>
                            Accueil
                        </a>
                        
                         <a class="nav-link collapsed" href="/maj">
                            <div class="nav-link-icon"><i class="fa fa-refresh"></i></div>Mises à jour
                        </a>
                        <a class="nav-link collapsed" href="<%=pathSite.link_site %>">
                            <div class="nav-link-icon"><i class="fa fa-globe"></i></div>
                            Site web
                        </a>
                        <a class="nav-link collapsed" href="<%=pathSite.link_discord %>">
                            <div class="nav-link-icon"><i class="fa-brands fa-discord"></i></div>
                            Serveur discord
                        </a>
                      
                         <!-- Sidenav Menu Heading (SERVERS)-->
                         <div class="sidenav-menu-heading">&#x1F6CD; BOUTIQUE</div>
                        <a class="nav-link collapsed" href="/shop/ebooks">
                            <div class="nav-link-icon"><i class="fa fa-book"></i></div>
                            Ebooks
                        </a>
                        <a class="nav-link collapsed" href="/shop/accounts">
                            <div class="nav-link-icon"><i class="fa-solid fa-user"></i></div>
                            Accounts
                        </a>
                        <% if (member.roles.cache.has(serverConfig.roles.logs)) {%>
                        <a class="nav-link collapsed" href="/shop/logs">
                            <div class="nav-link-icon"><i class="fa-solid fa-newspaper"></i></div>
                            Logs
                        </a>
                        <% }%>
                        <a class="nav-link collapsed" href="/shop/divers">
                            <div class="nav-link-icon"><i class="fa fa-crosshairs"></i></div>
                            Divers
                        </a>
                         <br>
                        

<br>
                        <!-- Sidenav Menu Heading (STATS)-->
                        <div class="sidenav-menu-heading">&#x1F4CA; Statistiques</div>
                       
                        <a class="nav-link collapsed" href="#">
                            <div class="nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                            Produits disponible :  <%= serverConfig.shop.ebooks.length + serverConfig.shop.accounts.length + serverConfig.shop.logs.length + serverConfig.shop.divers.length %>
                        </a>
                        <a class="nav-link collapsed" href="#">
                            <div class="nav-link-icon"><i class="fa fa-users"></i></div>
                            Visiteurs : <%= serverConfig.stats.visitor %>

                        </a>

                       
                        
                       

                       <br>


                        <!-- Sidenav Footer--><br>
                       
                    
                            <div class="sidenav-footer">
                                <div class="sidenav-footer-content">

                                    <div class="sidenav-footer-subtitle" style="color: grey">Connecté en tant que :</div>
<span style="color: white;"><%= member.displayName %> (<%= member.id %>)</span>

                                </div>
                                <a class="nav-link collapsed" style="color: red; position: relative; bottom: 10px; left: 20px;" href="/logout">
    <div class="nav-link-icon"><i style="color: red;" class="fa fa-sign-out-alt"></i></div>
</a>

                          
                    
            </nav>
        </div>
</body>

</html>