<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="<%= pathSite.image_chemin %>tool-labs/tool-labs.webp" type="image/gif">
    <link rel="stylesheet" href="<%= pathSite.css_chemin %>styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>


</head>

<body class="nav-fixed">
    <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
        id="sidenavAccordion">


        <a class="navbar-brand text-center" href="index"><img
                src="<%= pathSite.image_chemin %>tool-labs/tool-labs.webp" style="height: 3rem"> by <%=
                pathSite.nom_site %> </a>

        <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 mr-lg-2" id="sidebarToggle"><i
                data-feather="menu"></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sidenav shadow-right sidenav-light">
                <div class="sidenav-menu">
                    <div class="nav accordion" id="accordionSidenav">
                        <br>
                        <a class="nav-link" href="/index">
                            <div class="nav-link-icon"><i class="fa fa-home"></i></div>
                            Accueil
                        </a>
                        <a class="nav-link" href="a-propos-de-nous">
                            <div class="nav-link-icon"><i class="fa fa-question"></i></div>
                            À propos de nous
                        </a>
                        <a class="nav-link" href="recrutement" target="blank_">
                            <div class="nav-link-icon"><i class="fa fa-user-plus"></i></div>
                            recrutement
                            <span class="badge badge-danger-soft text-danger ml-auto"><i class="fa fa-tools"></i></span>
                        </a>
                        <div class="sidenav-menu-heading">ANIME</div>
                        <a class="nav-link" href="bien-debuter.html">
                            <div class="nav-link-icon"><i class="fa fa-check"></i></div>
                            Lorem Ipsum
                        </a>
                        <a class="nav-link" href="aide.html" target="blank_">
                            <div class="nav-link-icon"><i class="fa fa-life-ring"></i></div>
                            Lorem Ipsum
                        </a>
                        <a class="nav-link" href="aide-en-direct.html" target="blank_">
                            <div class="nav-link-icon"><i class="fa fa-hands-helping"></i></div>
                            Lorem Ipsum
                        </a>
                        <div class="sidenav-menu-heading">ESPACE MEMBRE</div>
                        <a class="nav-link" href="/callback">
                            <div class="nav-link-icon"><i class="fa fa-user"></i></div>
                            <% if (user) { %>
                                <%= user.username %>
                                    <% } else { %> Connexion <% } %>
                        </a>
                        <% if (user) { %>
                            <a class="nav-link" style="color: red" href="/logout">
                                <div class="nav-link-icon" style="color: red"><i class="fa fa-sign-out-alt"></i></div>
                                Déconnexion
                            </a>
                            <% } else %>
                                <div class="sidenav-menu-heading">COMMUNAUTÉ</div>
                                <a class="nav-link" href="" target="blank">
                                    <div class="nav-link-icon"><i class="fab fa-discord"></i></div>
                                    Serveur Discord
                                </a>
                    </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">