<%- include('./includes/header'); %>

<title><%= pathSite.nom_site %>  - Bienvenue</title>

<div id="layoutSidenav_content">
  
    
  
    <div class="container-xl px-7 mt-n10">
   

  
                
<br>
<br>
<br>
<br>
<br>







<br>

       <div class="row mb-4">
    <div class="col-xxl-12 mx-auto">
        <div class="card h-100">
            <div class="card-body h-100 p-5">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-xxl-4"> <!-- Nouvelle colonne pour l'image -->
                        <div style="width: 160px; height: 160px; border-radius: 20px; overflow: hidden;">
                            <img src="https://cdn.discordapp.com/avatars/<%= member.id %>/<%= member.user.avatar %>.webp?size=160" alt="Image" style="max-width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                    </div>
                    <div class="col-xl-8 col-xxl-8 d-flex align-items-center"> <!-- Colonne pour le texte -->
                        <div class="text-center" style="margin-left: 1cm;">
                            <h1 class="text-primary">Bienvenue <%= member.displayName %> !</h1> 
                            <div class="h4 word">Vous trouverez ici de quoi dépenser vos pièces durement gagnées grâce aux challenges !<br>Soyez indulgent, le shop est en cours de création...</div>
                            T'es rôles de merde : <%= member.roles.cache.map(role => role.name).join(', ').replace(', @everyone', ' ') %>
                          
                            <div class="h4 word">Best Catégorie : <%

                                const flags = memberConfig.challenge.flags;
                                const flagsTotal = flags.steganographie.length + flags.crackingReverse.length + flags.osint.length + flags.webClient.length + flags.misc.length + flags.webServer.length + flags.realiste.length + flags.forensic.length + flags.machine.length
                        
                                const flagTop = [
                                    { name: 'steganographie', data: flags.steganographie },
                                    { name: 'crackingReverse', data: flags.crackingReverse },
                                    { name: 'osint', data: flags.osint },
                                    { name: 'webClient', data: flags.webClient },
                                    { name: 'misc', data: flags.misc },
                                    { name: 'webServer', data: flags.webServer },
                                    { name: 'realiste', data: flags.realiste },
                                    { name: 'forensic', data: flags.forensic },
                                    { name: 'machine', data: flags.machine },
                                ];

                                flagTop.sort((a, b) => b.data - a.data);
                                const categoryView = flagsTotal > 0 ? flagTop[0].name : "Aucune"

                            %> <%= categoryView %>
                             
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  
        

    </div>

<%- include('./includes/footer'); %>
